body{
    font-family: lato, sans-serif;
    font-weight: 200;
    /*sets the font size to 16px*/
    font-size: 16px;
    /*sets the line height to 1.6*/
    line-height: 1.3;
}

.list-group{
  border-color: #777;
}

.pokemon-button{
    background-color: rgb(230, 226, 226);
    float: inline-end;
    border-color: rgb(65, 67, 65);
    font-weight: bold;
    font-size: 18px;
    font-family: lato, sans-serif;
    color: black;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    width: 300px;

        
}

.list-group-item{
  margin: 10px;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  border: 1px solid rgba(0, 0, 0, .125);
}

li{
  list-style-type: none;  
}

.page-title {
  text-align: center;
  float: right;
  margin: auto;
}

.pokemon-button:hover{
  transform: scale(1.1);
  background-color: #007bff;
  border-color: rgb(3, 43, 3);
  color: #fff;
}


#modal-container{
    display: flex;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    overflow: auto;
    display: grid;
    text-align: center;
}

.modal-content{
  position: Absolute;
  transform: translateY(-2%); 
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}


.modal-backdrop.show {
  opacity: .5;
}

#pokemonModal{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  z-index: 1050;
}

.modal {
    position: fixed ;
    margin: auto;
    display: inline-block;
    box-sizing: border-box;
    background: #fff;
    padding: 15px;
    width: 100%;
    text-align: left;
    z-index: 1050;
  }
  
  .modal-close {
    float: right;
    border: 0;
    background: none;
    color: #777;
    text-decoration: underline;
  }
  
  .modal h1 {
    margin-top: 0;
    text-align: center;

  }
  
  .modal p {
    margin-bottom: 0;
    text-align: center;
    margin-right: 50px;
  }
  
  #modal-container {
    display: none;
  }
  
  #modal-container.is-visible {
    display: block;
    
  }

  #pokemon-image {
    margin-bottom: 0;
    margin-left: 265px;
  }

  #button-container{
    padding: 10px 0;
    text-align: center;
  }

  #pokemonModalLabel {
    color: #780000;
    font-size: 2em;
    align-content: center;
    margin: 5px 0;
}
#modalBody {
    color: #003049;
    font-size: 1em;
    margin: auto;
}

#pokemonImage{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul{
  margin-top: 20px;
}

.mui-textfield>input{
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBmaWxsPSJyZ2JhKDAsMCwwLDAuNCkiIGQ9Ik0xNS41IDE0aC0uNzlsLS4yOC0uMjdDMTUuNDEgMTIuNTkgMTYgMTEuMTEgMTYgOS41IDE2IDUuOTEgMTMuMDkgMyA5LjUgM1MzIDUuOTEgMyA5LjUgNS45MSAxNiA5LjUgMTZjMS42MSAwIDMuMDktLjU5IDQuMjMtMS41N2wuMjcuMjh2Ljc5bDUgNC45OUwyMC40OSAxOWwtNC45OS01em0tNiAwQzcuMDEgMTQgNSAxMS45OSA1IDkuNVM3LjAxIDUgOS41IDUgMTQgNy4wMSAxNCA5LjUgMTEuOTkgMTQgOS41IDE0eiIvPjwvc3ZnPg==);
    background-repeat: no-repeat;
    background-position: right center;
    border-bottom: 1px solid rgba(0, 0, 0, .4);
}

input[type=search] {
  box-sizing: border-box;
}

.mui-textfield>input, .mui-textfield>textarea {
  animation-duration: .1ms;
  animation-name: mui-node-inserted;
  display: block;
  background-color: transparent;
  color: rgba(0, 0, 0, .87);
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .26);
  outline: 0;
  height: 32px;
  width: 50%;
  font-size: 16px;
  padding: 0;
  box-shadow: none;
  border-radius: 0;
  margin-left: 200px;
}

.pokeball-icon{
  float: left;
  margin-right: 5px;
  margin-top: 13px;
}

#pokemon-search-bar{
  margin: auto;
}